/*General Styles*/
body {
  background-image: url('../img/bg-light.png');
  background-repeat: repeat;
  color: #636466;
  font-family: 'Open Sans';
  font-size: 16px;
  /*overflow-x: hidden;*/
}
a {
  color: #014a72;
}
a:hover {
  color: #aaa;
  text-decoration: none;
}
.container {
  /*padding-bottom: 50px;*/
}
.sectionClear {
  height: 30px;
}
h3 {
  color: #014a72;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 50px;
  text-transform: uppercase;
}
h4 {
  border-bottom: 3px solid #014a72;
  color: #014a72;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 70px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
h5 {
  color: #014a72;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}



/*Header*/
#logo {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}
.navbar.navbar-default {
  background-color: transparent;
  border: none;
}
.nav.navbar-nav {
  font-size: 18px;
  text-transform: uppercase;
}
.nav.navbar-nav a {
  color: #014a72 !important;
}
.nav.navbar-nav a:hover {
  color: #aaa !important;
}
.nav.navbar-nav li {
  margin-right: 25px;
}
.collapse.navbar-collapse.navbar-ex1-collapse {
  margin-top: -75px;
  margin: -75px auto 0;
  max-width: 720px;
}
#siteTitle {
  color: #014a72;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
#siteSubtitle {
  color: #aaa;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
#subtitleDivider {
  color: #014a72 !important;
}



/*Homepage Slider*/
#homeSlider {
  margin-top: 35px;
}
#homeSlider-wrapper {
  max-width: 100% !important;
}
.homeSlider-panel, .panel-wrapper {
  margin: 0;
  padding: 0 !important;
  border: 0;
}





/*Project Grid*/
.projectThumb {
  border: 3.5px solid #014a72;
  margin: 2.5px;
  float: left;
  /*cursor: pointer;*/
}
.portfolioOverlay {
  width: 270px;
  height: 180px;
  background-color: #014a72;
  position: absolute;
  /*opacity: 0.85;*/
  opacity: 0;
  text-align: center;
}
.projectTitle {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
}





/*Resume*/
.job, #university {
  color: #014a72;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans Condensed';
}
.awardName {
  color: #014a72;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'Open Sans Condensed';
}
.projectURL, .projectURL a, .awardProject, #degree {
  color: #323232;
  font-size: 16px;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
}
.projectURL a:hover {
  color: #aaaaaa;
}
.time, .jobDescription, #educationDescription {
  font-size: 15px;
}
.awardCompetition {
  font-size: 14px;
  line-height: 16px;
}
.awardItem, .resumeItem  {
  margin-bottom: 15px;
}






/*Project Pages*/
.projectDescription {
  font-size: 18px;
}
.caption {
  padding-top: 5px;
  font-size: 14px;
  line-height: 18px;
}




/*Contact Form*/
.form-control {
  margin-bottom: 15px;
}
#contactInquiry {
  font-size: 14px;
}
#contactText {
  font-size: 20px;
}
#contactSubmit {
  margin-bottom: 25px;
}
#connected-website, #connected-email, #connected-phone, #connected-twitter, #connected-linkedin, #connected-github {
  color: #014a72;
  font-size: 18px;
}
.connectedText {
  color: #636466;
  font-size: 16px;
  padding-left: 12px;

}
a.connectedLink {
  color: #636466;
}
a.connectedLink:hover {
  color: #014a72;
}



/*Footer*/
#copyright {
  font-size: 11px;
  padding: 50px 0 25px 0;
  text-align: center;
}



/*Mobile Fix*/
@media (max-width: 756px) {
  .row {
    padding: 0;
    margin: 0;
  }
  h3 {
    padding-left: 15px;
  }
  h4 {
    margin: 0 15px;
  }
  p, #contactForm {
    padding: 0 15px;
  }
  button.navbar-toggle {
    margin-top: 45px;
  }
  #aboutStates {
    display: none;
  }
  #logo {
    margin-top: -65px;
    margin-bottom: 10px;
  }
  .navbar.navbar-default {
    margin-bottom: 0;
  }
  #siteTitle {
    font-size: 52px;
    line-height: 58px;
    margin-top: -10px;
  }
  #siteSubtitle {
    font-size: 18px;
    line-height: 18px;
  }
}





/*Responsive Video*/
.responsive-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }





/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
ul#filters {
  padding: 0;
  margin-left: 0;
}

li.filter-option {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  /*background-color: #aaa;*/
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

li.filter-option.active, li.filter-option:hover {
  background-color: #014a72;
  /*cursor: pointer;*/
}

li.filter-option a {
  color: #014a72
}

li.filter-option:hover a, li.filter-option.active a, li.filter-option a:hover {
  color: #fff;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* End: Recommended Isotope styles */